.cover__subtitle {
  width: 360px;
  /* height: 66px; */
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    width: 270px;
    /* height: 48px; */
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
  }
}