.header__logo {
  width: 176px;
  height: 52px;
  background-image: url(../../../images/images_header/__logo.png);
  background-size: cover;
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 142px;
    max-height: 42px;
  }
}