.cover {
  max-width: 1184px;
  margin-top: 92px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../../images/images_cover/__background.jpg);
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 90px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin-top: 66px;
  }
}