.cover__title {
  max-width: 560px;
  /* height: 152px; */
  margin-top: 245px;
  margin-right: auto;
  margin-left: auto;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: opacity 0.8s ease;
  -moz-transition: opacity 0.8s ease;
  -ms-transition: opacity 0.8s ease;
  -o-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

.cover__title:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    margin-top: 195px;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    margin-top: 115px;
  }
}

@media screen and (max-width: 525px) {
  .cover__title {
    font-size: 45px;
    line-height: 60px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    width: 250px;
    /* height: 70px; */
    font-size: 32px;
    line-height: 35px;
    margin-top: 33px;
  }
}